In [1]:
import mysql.connector

In [3]:
#connect to server
db = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="blessing",  
)

In [2]:
#connect to database

db = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="blessing",
    database= "testdatabase"
)

In [4]:
#create cursor
mycursor = db.cursor()
mycursor.execute("CREATE DATABASE testdatabase")

In [3]:
mycursor = db.cursor()

In [4]:
mycursor.execute("CREATE TABLE Person (name VARCHAR(50), age smallint UNSIGNED, personID int PRIMARY KEY AUTO_INCREMENT)")

In [5]:
mycursor.execute("DESCRIBE Person")

In [6]:
for x in mycursor:
    print(x)

('name', b'varchar(50)', 'YES', '', None, '')
('age', b'smallint unsigned', 'YES', '', None, '')
('personID', b'int', 'NO', 'PRI', None, 'auto_increment')

In [11]:
mycursor.execute("INSERT INTO Person (name, age) VALUES (%s,%s)",
                ("John", 25))
db.commit()

In [12]:
mycursor.execute("SELECT * FROM Person")

In [13]:
person = []
for x in mycursor:
    person.append(x)

In [14]:
import pandas as pd
data = pd.DataFrame(person, columns=['Name', 'age', 'id'])
data.head()

   Name  age  id
0   tim   19   1
1  John   25   2